.radioWrap {
  background: #333;
  border-right: 1px solid #000;
  &:last-child {
    border-right: 0;
  }

  input {
    display: none;
  }

  label {
    display: block;
    padding: 5px 15px;
    cursor: pointer;
  }

  input:checked ~ label {
    background: #555;
  }
}

.radioGroup {
  display: inline-flex;
  border: 1px solid #000;
  border-radius: 6px;
  overflow: hidden;
}

.controlItem {
  margin-bottom: 15px;
}

.controlTitle {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 500;
}

.controlsWrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  & > div {
    flex-basis: 50%;
  }
}

.textInput {
  display: block;
  padding: 5px 15px;
  border: 1px solid #fff;
  background-color: #222;
  font-size: 16px;
  color: #fff;
  width: 100%;
  border-radius: 6px;

  &::placeholder {
    color: #cecece;
  }
}

@media screen and (max-width: 768px) {
  .controlsWrapper {
    display: block;
  }
  .controlTitle {
    font-size: 16px;
  }
  .controlItem {
    margin-bottom: 10px;
  }
  .radioWrap {
    label {
      font-size: 14px;
    }
  }
  .textInput {
    font-size: 14px;
  }
}
