.item {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #000;
  overflow: hidden;
}

.img {
  display: block;
  max-width: 100%;
}

.imgWrapper {
  flex-basis: 6%;
  min-width: 40px;
}

.username {
  flex-basis: 30%;
}

.age {
  flex-basis: 30%;
  text-align: center;
}

.phone {
  flex-basis: 30%;
  text-align: center;
}

.favorite {
  flex-basis: 4%;
}

.favoriteBtn {
  display: block;
  padding: 0;
  margin: 0 auto;
  border: 0;
  background: transparent;
  color: #fff;
  opacity: 0.2;
  cursor: pointer;
  font-size: 20px;
}

.favoriteBtnActive {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .item {
    flex-wrap: wrap;
    padding: 5px;
  }

  .imgWrapper {
    flex-basis: 60px;
  }

  .phone {
    flex-grow: 1;
    text-align: left;
    padding-left: 60px;
    flex-basis: 70%;
  }

  .username {
    flex-grow: 1;
  }
  .age {
    flex-basis: auto;
  }
}
